*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100svh;
}

h1{
    margin-bottom: 1.5rem;
}

#addMustDo{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 1rem;
}

textarea{
    resize: none;
}

table {
    border: 1px solid;

}

.done{
    text-decoration: line-through;
}

.undone{
    text-decoration: none;
}