<div class="container">
  <h1>To Do List</h1>
  <table>
    <tr>
      <th>Must DO</th>
      <th>Date de création</th>
      <th>Modifier</th>
      <th>Supprimer</th>
      <th>Terminer</th>
    </tr>
    <tr *ngFor="let activity of activities">
      <td class="{{activity.done}}">{{activity.name}}</td>
      <td>{{activity.created | date : "shortDate"}}</td>
      <td><button type="button" (click)="Modify(activity)">Modifier</button></td>
      <td><button type="button" (click)="deleteMustDo(activity)">Supprimer</button></td>
      <td>
        <input type="checkbox" (click)="itemDone(activity)" [attr.id]="findId(activity)" [checked]="checkItem(activity)">
      </td>
    </tr>
  </table>
  <div id="addMustDo">
    <label for="addUpdate">Ajouter/modifier une tâche</label>
    <textarea name="addUpdate" id="addUpdate" cols="50" rows="5" #input></textarea>
    <button type="submit" class="addBtn" (click)="handleInput(input.value)">Envoyer</button>
  </div>
</div>
